body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-style: italic;
  color: black;
}

#blog-list {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.blog-post {
  background-color: white;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.blog-post h2 {
  color: #333;
}

.blog-post p {
  color: #666;
}

.blog-post a {
  color: #4285f4;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  text-align: left;
  position: relative;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: red;
  z-index: 1001;
}
